[user]
    name = Liu Guangyuan (Gary)
    email = garyliu2122@gmail.com
    signingkey = C48F4770FDB9CB22
[credential]
    username = gary-lgy
    helper = cache
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[push]
    default = simple
    followTags = true
[commit]
    gpgsign = false
[diff]
    ; https://git-scm.com/docs/git-diff#Documentation/git-diff.txt---color-movedltmodegt
    colorMoved = default
    colorMovedWS = ignore-space-change

; https://github.com/dandavison/delta#--color-moved-support
[delta]
    features = line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
