[user]
	name = Liu Guangyuan (Gary)
	email = garyliu2122@gmail.com
	signingkey = C48F4770FDB9CB22
[credential]
	username = gary-lgy
	helper = cache
[core]
	excludesfile = /home/gary/.gitignore_global
	pager = delta | less -R
[interactive]
	diffFilter = delta --color-only
[push]
	default = simple
	followTags = true
[commit]
	gpgsign = false
