let mapleader = ' '

" IdeaVim emulated plugins
set easymotion
set surround
set multiple-cursors
set commentary
set textobj-entire
set argtextobj
set ReplaceWithRegister
set highlightedyank
set exchange
set matchit
let g:argtextobj_pairs = "(:),{:},<:>"
let g:EasyMotion_do_mapping = 0

" Idea specific settings
set ideajoin
set idearefactormode=keep
set ideavimsupport=

" Options
set clipboard=unnamedplus,ideaput
set nogdefault
set hlsearch incsearch
set ignorecase smartcase
set number relativenumber
set scrolloff=5 sidescrolloff=5
set timeoutlen=500
set visualbell

" Keys

" Operators
noremap gm %

noremap H g^
noremap L g$

"Convenience
noremap Q @
noremap <leader>' @@

nnoremap <silent> <leader>/ :noh<cr>
nnoremap Y y$
vnoremap y ygv<esc>

noremap <F1> <nop>
inoremap <F1> <nop>

inoremap <C-j> <Down>
inoremap <C-k> <Up>

nnoremap <C-j> <C-e>
nnoremap <C-k> <C-y>

inoremap <C-a> <Esc>I
inoremap <C-e> <Esc>A
inoremap <C-f> <Right>
inoremap <C-b> <Left>

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

map <C-s> <Action>(Switcher)

" The built-in C-O and C-I bindings are broken
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)

map [[ <Action>(GotoPrevElementUnderCaretUsage)
map ]] <Action>(GotoNextElementUnderCaretUsage)
map ][ <Action>(MethodDown)
map [] <Action>(MethodUp)
map [b <Action>(PreviousTab)
map ]b <Action>(NextTab)
map [h <Action>(VcsShowPrevChangeMarker)
map ]h <Action>(VcsShowNextChangeMarker)
map [c <Action>(PreviousDiff)
map ]c <Action>(NextDiff)
map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)
map [e <Action>(MoveLineUp)
map ]e <Action>(MoveLineDown)
map [E <Action>(MoveStatementUp)
map ]E <Action>(MoveStatementDown)
noremap [<space> :action EditorStartNewLineBefore<cr>:action EditorDown<cr>
noremap ]<space> :action EditorStartNewLine<cr>:action EditorUp<cr>

noremap <leader><Tab> <C-S-6>
nmap ga <Action>(GotoAction)
nmap go <Action>(GotoFile)
nmap gl <Action>(GotoClass)
nmap gw <Action>(ShowErrorDescription)

map g; <Action>(JumpToLastChange)
map g, <Action>(JumpToNextChange)
map gh <Action>(QuickJavaDoc)
map gs <Action>(GotoSymbol)
map gi <Action>(GotoImplementation)
map gp <Action>(ShowUsages)
map gt <Action>(GotoTypeDeclaration)

map <leader>b <Plug>(easymotion-bd-w)
map <leader>j <Plug>(easymotion-bd-jk)
map s <Plug>(easymotion-s)

nmap <leader>=  <Action>(ReformatCode)
map <leader>an  <Action>(Annotate)
map <leader>ch  <Action>(CallHierarchy)
map <leader>cp  <Action>(CopyPaths)
map <leader>cs  <Action>(ChangeSignature)
map <leader>ct  <Action>(ChangeTypeSignature)
map <leader>cv  <Action>(ChangeView)
map <leader>dc  <Action>(ChooseDebugConfiguration)
map <leader>dd  <Action>(Debug)
map <leader>eq  <Action>(Exit)
map <leader>ff  <Action>(FindInPath)
map <leader>fg  <Action>(GoImportsFileAction)
map <leader>fp  <Action>(ReformatWithPrettierAction)
map <leader>fr  <Action>(RecentFiles)
map <leader>fu  <Action>(FindUsages)
map <leader>ge  <Action>(Gradle.ExecuteTask)
map <leader>gr  <Action>(GotoRelated)
map <leader>gs  <Action>(GotoSuperMethod)
map <leader>gt  <Action>(GotoTest)
map <leader>ic  <Action>(IntroduceConstant)
map <leader>if  <Action>(IntroduceField)
map <leader>ii  <Action>(Inline)
map <leader>im  <Action>(ImplementMethods)
map <leader>ip  <Action>(IntroduceParameter)
map <leader>is  <Action>(InspectCode)
map <leader>iv  <Action>(IntroduceVariable)
map <leader>mv  <Action>(ActivateMavenProjectsToolWindow)
map <leader>nc  <Action>(NewClass)
map <leader>oi  <Action>(OptimizeImports)
map <leader>om  <Action>(OverrideMethods)
map <leader>pp  <Action>(PinActiveTab)
map <leader>qq  :q<cr>
map <leader>qa  <Action>(CloseAllUnpinnedEditors)
map <leader>qt  <Action>(ReopenClosedTab)
map <leader>rf  <Action>(RenameFile)
map <leader>rn  <Action>(RenameElement)
map <leader>rr  <Action>(Run)
map <leader>sd  <Action>(SafeDelete)
map <leader>sh  <Action>(SplitHorizontally)
map <leader>ss  <Action>(SplitVertically)
map <leader>t   <Action>(ActivateTerminalToolWindow)
map <leader>w   :write<cr>
map <leader>xm  <Action>(ExtractMethod)
