" IdeaVim emulated plugins
set surround
set multiple-cursors
set commentary
set ideajoin
" set idearefactormode=select

" Options
set clipboard=unnamedplus,ideaput
set nogdefault
set hlsearch incsearch
set ignorecase smartcase
set number relativenumber
set scrolloff=5 sidescrolloff=5
set timeoutlen=500
set visualbell

" Keys
let mapleader = ' '

" Operators
nnoremap gm %
vnoremap gm %
onoremap gm %

nnoremap J }
vnoremap J }
onoremap J }
nnoremap K {
vnoremap K {
onoremap K {

nnoremap H g^
vnoremap H g^
onoremap H g^
nnoremap L g$
vnoremap L g$
onoremap L g$

" Convenience
nnoremap <silent> <leader>/ :noh<cr>
nnoremap Y y$
nnoremap <A-k> :action QuickJavaDoc<cr>

noremap <F1> <nop>
inoremap <F1> <nop>

inoremap <C-j> <Down>
inoremap <C-k> <Up>

nnoremap <C-j> <C-e>
nnoremap <C-k> <C-y>

inoremap <C-a> <Esc>I
inoremap <C-e> <Esc>A
inoremap <C-f> <Right>
inoremap <C-b> <Left>

inoremap jk <esc>
inoremap kj <esc>

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" The built-in C-O and C-I bindings are broken
nnoremap <C-o> :action Back<cr>
nnoremap <C-i> :action Forward<cr>

noremap [[ :action GotoPrevElementUnderCaretUsage<cr>
noremap ]] :action GotoNextElementUnderCaretUsage<cr>
noremap ][ :action MethodDown<cr>
noremap [] :action MethodUp<cr>
noremap [b :action PreviousTab<cr>
noremap ]b :action NextTab<cr>
noremap [h :action VcsShowPrevChangeMarker<cr>
noremap ]h :action VcsShowNextChangeMarker<cr>
noremap [c :action PreviousDiff<cr>
noremap ]c :action NextDiff<cr>
noremap [d :action GotoPreviousError<cr>
noremap ]d :action GotoNextError<cr>
noremap [e :action MoveLineUp<cr>
noremap ]e :action MoveLineDown<cr>
noremap [E :action MoveStatementUp<cr>
noremap ]E :action MoveStatementDown<cr>
noremap [<space> :action EditorStartNewLineBefore<cr>:action EditorDown<cr>
noremap ]<space> :action EditorStartNewLine<cr>:action EditorUp<cr>

noremap <leader><leader> :action SearchEverywhere<cr>
noremap <leader><Tab> <C-S-6>
noremap ga :action GotoAction<cr>
noremap gf :action GotoFile<cr>
noremap gh :action GotoClass<cr>
noremap gs :action GotoSymbol<cr>

noremap g; :action JumpToLastChange<cr>
noremap g, :action JumpToNextChange<cr>
noremap gi :action GotoImplementation<cr>
noremap gr :action ShowUsages<cr>
noremap gt :action GotoTypeDeclaration<cr>

noremap <leader>an  :action Annotate<cr>
noremap <leader>bb  :action ToggleLineBreakpoint<cr>
noremap <leader>bk  :action CloseEditor<cr>
noremap <leader>br  :action ViewBreakpoints<cr>
noremap <leader>ch  :action CallHierarchy<cr>
noremap <leader>cp  :action CopyPaths<cr>
noremap <leader>cs  :action ChangeSignature<cr>
noremap <leader>ct  :action ChangeTypeSignature<cr>
noremap <leader>cv  :action ChangeView<cr>
noremap <leader>dc  :action ChooseDebugConfiguration<cr>
noremap <leader>dd  :action Debug<cr>
noremap <leader>eq  :action Exit<cr>
noremap <leader>ff  :action FindInPath<cr>
noremap <leader>fg  :action GoImportsFileAction<cr>
noremap <leader>fm  :action ReformatCode<cr>
noremap <leader>fp  :action ReformatWithPrettierAction<cr>
noremap <leader>fr  :action RecentFiles<cr>
noremap <leader>fu  :action FindUsages<cr>
noremap <leader>ge  :action Gradle.ExecuteTask<cr>
noremap <leader>gr  :action GotoRelated<cr>
noremap <leader>gs  :action GotoSuperMethod<cr>
noremap <leader>gt  :action GotoTest<cr>
noremap <leader>hr  :action Vcs.RollbackChangedLines<cr>
noremap <leader>ic  :action IntroduceConstant<cr>
noremap <leader>if  :action IntroduceField<cr>
noremap <leader>ii  :action Inline<cr>
noremap <leader>im  :action ImplementMethods<cr>
noremap <leader>ip  :action IntroduceParameter<cr>
noremap <leader>is  :action InspectCode<cr>
noremap <leader>iv  :action IntroduceVariable<cr>
noremap <leader>j   :write<cr>
noremap <leader>mv  :action ActivateMavenProjectsToolWindow<cr>
noremap <leader>nc  :action NewClass<cr>
noremap <leader>oi  :action OptimizeImports<cr>
noremap <leader>om  :action OverrideMethods<cr>
noremap <leader>q   :action CloseActiveTab<cr>
noremap <leader>rf  :action RenameFile<cr>
noremap <leader>rn  :action RenameElement<cr>
noremap <leader>rr  :action Run<cr>
noremap <leader>sd  :action SafeDelete<cr>
noremap <leader>sh  :action SplitHorizontally<cr>
noremap <leader>sn  :noh<cr>
noremap <leader>ss  :action SplitVertically<cr>
noremap <leader>t   :action ActivateTerminalToolWindow<cr>
noremap <leader>xm  :action ExtractMethod<cr>
